@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

:root{
    --swiper-theme-color: #39b54a;

}
.ourclientsdiv{
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding-top: 150px;
    box-sizing: border-box;
    padding-bottom: 150px;
    background-color: #e6e6e6;
}
.swiper{
   width: 80%;
   height: 250px !important;
   margin:auto; 
   height: auto;
}
.swiper2{
    height: auto !important;
}
.ngtemplate{
    width: 190px;
    height: 190px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.ngtemplate img{
    object-fit: cover;
    width: 140px;
    height: 140px;
    opacity: 0.5;
}
.ngtemplate img:hover{
    opacity: 1;
    transition: 0.5s;
}
h5{
    color: rgb(43, 199, 43);
    
}
hr{
    
    width: 40%;
    margin: auto;
}
.titles{
    
    width: 100%;
    text-align: center;
}
h1{
    color: black;
}
.p{
    
    font-size: 30px;
    text-align: center;
}
.clientcoment{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clientcoment img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    
    
}
.swiper-pagination{
    margin-top: 20px;
}
@media screen and (max-width:700px) {
    .swiper{
        width: 90%;
    }
    .swiper2{
        width: 100%;
    }
    .p{
        font-size: 21px;
    }

}
@media screen and (max-width:600px) {
    .ngtemplate img{
        width: 109px;
        height: 109px;
         
    }
}
@media screen and (max-width:400px) {
    .ngtemplate img{
        width: 73px;
        height: 73px;
         
    }
    .swiper{
        width: 80%;
    }
    .ngtemplate{
        width: 100%;
    }

}
@media screen and (max-width:300px) {

    .ngtemplate{
        justify-content: center;
        
    }
    .ngtemplate img{
        width: 103px;
        height: 103px;
         
    }
}