<div class="wee">
<div class="welcome-content">
<div class="welcomelements">
    <div class="welcometexts">
        <p>WELCOME TO GLINT</p>
        <h1>We are a creative group
            of people who design
            influential brands and
            digital experiences.</h1>
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-outline-primary mybtn" >START A PROJECT</button>
    <button type="button" class="btn btn-outline-secondary mybtn">MORE ABOUT US</button>
    </div></div>
<div class="socialmedia">
        <div class="socmedia facebook">
            <span>facebook</span>
            <div class="icon">
            <fa-icon [icon]="faFacebook"></fa-icon>
        </div>
        </div>
        <div class="socmedia twiter">
            <span>Twitter</span>
            <div class="icon">
            <fa-icon [icon]="faTwiter"></fa-icon>
        </div>
        </div>

        <div class="socmedia instagram">
            <span>Instagram</span>
            <div class="icon">
            <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
    </div>
        <div class="socmedia behance">
            <span>Behance</span>
            <div class="icon">
            <fa-icon [icon]="faBehance"></fa-icon>
        </div>
        </div>
        <div class="socmedia dribble">
            <span>Dribbble</span>
            <div class="icon">
            <fa-icon [icon]="faDribbble"></fa-icon>
        </div>
        </div>


    
</div>




</div>
<div class="scrll">
<div class="scroldown">
    <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#39b54a"  d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
    <p class="scr" (click)="scroll1()">SCROLL DOWN</p>
</div>
</div>
</div>
