
<div class="contactdiv">
    <div class="contactchild">
        <div class="titles">
        <h5>CONTACT US</h5>
        <h1>Reach out for a new project or just say hello</h1>
    </div>
        <div class="infozone">
            <div class="sendsms">

        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card heit">
            <div class="card-body p-5">
              <h2 class="text-uppercase  mb-5" style="color:white;font-size:smaller;">SEND US A MESSAGE</h2>

              <form>

                <div class=" mb-4" >
                  <input type="text" id="form3Example1cg" class=" form-control-lg x" placeholder="your name" />
                  
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class=" form-control-lg x" placeholder="Your Email" />
                 
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control-lg x" placeholder="Your Subject"/>
                 
                </div>

                <div class="mb-3">
                    
                    <textarea class="sms x" id="exampleFormControlTextarea1" rows="3" placeholder="Your Massage"></textarea>
                  </div>

          
          <div class="d-grid gap-2">
            <button class="btn btn-primary mybtn" type="button">SUBMIT</button>
           
          </div>
              </form>
            </div>
          </div>
        </div>
            </div>
            <div class="contactinfo">
              <h4 >Contact Info</h4>
                  <div class="cnt border-light mb-3" style="max-width: 18rem;">
                    
                    <div class="card-body">
                      <h5 class="card-title">Where to Find Us</h5>
                      <p class="card-text">1600 Amphitheatre Parkway <br>
                        Mountain View, CA <br>
                        94043 US</p>
                    </div>
                  </div>
                  <div class="cnt border-light mb-3" style="max-width: 18rem;">
                    
                    <div class="card-body">
                      <h5 class="card-title">Email Us At</h5>
                      <p class="card-text">contact@glintsite.com <br>
                        info@glintsite.com</p>
                    </div>
                  </div>

                  <div class="cnt border-light mb-3" style="max-width: 18rem;">
                    
                    <div class="card-body">
                      <h5 class="card-title">Call Us At</h5>
                      <p class="card-text">Phone: (+63) 555 1212 <br>
                        Mobile: (+63) 555 0100 <br>
                        Fax: (+63) 555 0101</p>
                    </div>
                  </div>
                  <div class="icons">
                    <div class="icon">
                      <fa-icon [icon]="faFacebook"></fa-icon>
                  </div>
                  <div class="icon">
                    <fa-icon [icon]="faTwiter"></fa-icon>
                </div>
                <div class="icon">
                  <fa-icon [icon]="faInstagram"></fa-icon>
                </div>
                <div class="icon">
                  <fa-icon [icon]="faBehance"></fa-icon>
                </div>
                <div class="icon">
                  <fa-icon [icon]="faDribbble"></fa-icon>
                </div>
                  </div>
 

            </div>
        </div>
    </div>
    
</div>
