<div class="greenback">
    <div class="content">
        <h4>HELLO THERE</h4>
        <h1>We Are Glint</h1>
        <hr>
        <span class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consectetur nemo! Maxime, architecto veritatis officia exercitationem, adipisci qui totam quaerat quod ex, harum magnam laudantium ullam rerum quisquam blanditiis quo?</span>
        <div class="numbers">
            <div class="award aw1">
            <span class="s">{{countawards}}</span>
            <h2>Awards Recieved</h2>
        </div>
        <div class="award aw2">
            <span class="s">{{coffecount}}</span>
            <h2>cup of coffee</h2>
        </div>
        <div class="award aw3">
            <span class="s">{{projects}}</span>
            <h2>projects completed</h2>
        </div>
        <div class="award aw4">
            <span class="s">{{happyclients}}</span>
            <h2>happy clients</h2>
        </div>
        </div>
    </div>
</div>
